<!DOCTYPE html>
<html lang="pt-br" xlmns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device, initial-scale=1.0">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/cadastro.css">
	<script src="https://kit.fontawesome.com/006642858d.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Open+Sans|Roboto&display=swap"
		  rel="stylesheet">

	<title>Agenda API - Cadastro de Contato </title>
</head>

<body>
<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #1c2541">
					<a th:href="@{/index}" class="navbar-brand"><i class="fas fa-home fa-font-color"></i><span class="title">AGENDA-API</span></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav1"
							aria-controls="nav1" aria-expanded="false" aria-label="Alterna navegação">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end" id="nav1">
						<ul class="navbar nav">
							<li>
								<form class="form-inline my-2 my-lg-0" action="/search-contact" method="GET">
									<input class="form-control mr-sm-2" name="name" type="text" placeholder="Nome do Contato" aria-label="Digite o nome a ser pesquisado">
									<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar Contato</input>
								</form>
							</li>

							<li class="nav-item"><a th:href="@{/cadastro}"
													class="nav-link"><i class="fas fa-address-book"></i> CADASTRAR
								CONTATO</a></li>

							<li class="nav-item">
								<form th:action="@{/logout}" method="post"  id="formLogout">
									<button type="submit"
											style="width: 100px; padding: 5px; border-radius: 5px; border: 2px solid #8e44ad;"
											class="botao btn nav-link" id="close"><i class="fas fa-times"></i>
										SAIR
									</button>
								</form>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>
	
	<div class="containerAux">
		<h2 class="mt-4">CADASTRO DE CONTATO</h2>
		<hr class="colorgraph">
		<form method="post" th:action=@{/cadastrocompleto}
			th:object="${contact}">
			<div class="row">
				<div class="col-lg-12">
					<!-- ALERTA DE ERRO AO ENVIAR O OBJETO -->
					<!-- ALERTA DE DADOS ENVIADO COM SUCESSO -->
					<div id="alerta"
						class="alert alert-success alert-dismissible fade show"
						th:if="${!#strings.isEmpty(cadastroenviado)}">
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Fechar">
							<span>&times;</span>
						</button>
						<strong>CONTATO SALVO COM SUCESSO! <a th:href="@{/}">VOLTAR</a>.
						</strong>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-lg-5 col-sm-12">
					<label class="lbl" for="inputNome">Nome:</label> <input type="text"
						maxlength="70" th:field="*{name}"
						placeholder="Nome" id="inputNome"
						class="form-control">
				</div>
		</div>
			<hr class="colorgraph">
			<div class="row">
				<div class="form-group col-lg-6 col-sm-12">
					<label class="lbl" for="inputTel1">Telefone:</label> <input
						type="tel" maxlength="14" th:field="*{telephone}"
						onkeypress="mascara(this, '## # ####-####')"
						placeholder="Telefone" id="inputTel1"
						class="form-control">
				</div>
				<div class="form-group col-lg-6 col-sm-12">
					<label class="lbl" for="inputCity">Cidade:</label> <input
						type="text" maxlength="20" th:field="*{city}"
						placeholder="Cidade"
						class="form-control"> 
				</div>
				
			</div>
			<div class="row">
				<div class="col-lg-4 offset-lg-4  mt-4">
					<button class="bt col-sm-12">SALVAR INFORMAÇÕES</button>
				</div>
			</div>
		</form>
	</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>