<!DOCTYPE html>
<html lang="pt-br" xlmns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width-device, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>Agenda API - Login </title>
<link rel="stylesheet" href="css/login.css">
<script src="https://kit.fontaresome.com/006642858d.js"></script>


</head>

<body>

	<div class="Login-Form">
		<div class="container">
			<div class="main-div">
				<div class="texto-header">
					<h1> Login no Sistema</h1>
					<p> Insira suas credenciais para efetuar login no sistema. </p>
				</div>
				
				<form th:object="${userAgenda}" action="/index" method="post">

				<div class="alert alert-danger" role="alert" th:if="${msgLoginErro}">
					<strong th:text="${msgLoginErro}"></strong>
				</div>	
							
					<div class="form-group">
						<input type="text" class="form-control" th:field="*{username}" placeholder="Usuário">
					</div>
					
					<div class="form-group">
						<input type="password"class="form-control" th:field="*{password}" placeholder="Senha">
					</div>
					
					<button type="submit" name="botaoLogin" class="btn btn-primary">LOGIN</button>
				
				<div class="cadastro">
					<a th:href="@{cadastro-usuario}">Ainda não tem uma conta? Cadastrar</a>
				</div>
				
				</form>
			</div>
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="webjars/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
