<!DOCTYPE html>
<html lang="pt-br" xlmns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width-device, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>Agenda API </title>
</head>

<body>
	<p>Agenda-api-teste </p>
	<h1 th:text="${msg}"></h1>
	
	<button class="btn btn-primary"> Teste</button>
	
	<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>