<!DOCTYPE html>
<html lang="pt-br" xlmns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device, initial-scale=1.0">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/cadastro.css">
	<script src="https://kit.fontawesome.com/006642858d.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Open+Sans|Roboto&display=swap" rel="stylesheet">
	<title>Agenda API </title>
</head>

<body>
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #7ea0b7">
						<a th:href="@{/index}" class="navbar-brand"> <span class="title">AGENDA-API</span></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav1" aria-controls="nav1" aria-expanded="false" aria-label="Alterna navegação">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-end" id="nav1">
							<ul class="navbar nav">
								<li class="nav-item"><a th:href="@{/index}" class="nav-link " style="color: #36494e" ><i
											class="fas fa-home"></i> HOME</a></li>

								<li class="nav-item"><a th:href="@{/cadastro}" 
										class="nav-link"><i class="fas fa-address-book"></i> CADASTRAR CONTATO</a></li>

								<li class="nav-item"><a th:href="@{search}" class="nav-link"><i
											class="fas fa-search"></i> PESQUISAR
										CONTATO</a></li>

								<li class="nav-item">
									<form th:action="@{/logout}" method="post">
										<button type="submit"
											style="width: 100px; padding: 5px; border-radius: 5px; border: 2px solid #8e44ad;"
											class="botao btn nav-link" id="close"><i class="fas fa-times"></i>
											SAIR</button>
									</form>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>